/* #region Main window */
.client-title-bar.Firefox {
    background-color: rgba(var(--term-raw-primary-background), var(--term-raw-opacity));
}
.firefox {
    /* Main colors */
    color: var(--term-primary-foreground);
    background-color: rgba(var(--term-raw-primary-background), var(--term-raw-opacity));

    /* Layout */
    padding: 0.5em;
    overflow: hidden;

    /* Flex */
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
/* #endregion */


/* #region Tab bar */
.firefox-tab-bar {
    /* Flex */
    display: flex;
    gap: 0.25em;
}
.firefox-tab-new {
    /* Main colors */
    background-color: var(--term-normal-black);

    /* Layout */
    width: 1.5em;
    text-align: center;
    margin: auto 0;
    margin-left: 0.75em;
    padding: 0.25em;

    /* Border */
    border-radius: var(--window-radius);
}
.firefox-tab:first-child {
    /* Main colors */
    background-color: var(--term-normal-red);
}
.firefox-tab:first-child p {
    /* Main colors */
    color: var(--term-bright-white);
}
.firefox-tab {
    /* Main colors */
    background-color: var(--term-normal-black);

    /* Layout */
    width: 12em;
    padding: 0.25em;

    /* Flex */
    display: flex;

    /* Border */
    border-radius: var(--window-radius);
}
.firefox-tab .tab-icon {
    /* Layout */
    height: 1.5em;
    vertical-align: sub;
    margin-right: 0.25em;
}
.firefox-tab p {
    /* Layout */
    margin: 0;
}
.firefox-tab .tab-name {
    color: var(--term-normal-white);
    width: 100%;
}
.firefox-tab .tab-close {
    color: var(--term-primary-foreground)
}
/* #endregion */


/* #region Search bar */
.firefox-search-bar {
    /* Flex */
    display: flex;
    gap: 1em;
}
.firefox-search-bar > section {
    /* Main colors */
    background-color: var(--term-normal-black);

    /* Layout */
    padding: 0.25em 0.5em;

    /* Flex */
    display: flex;
    gap: 1em;

    /* Border */
    border-radius: var(--window-radius);
}
.firefox-search-bar > section p {
    margin: auto 0;
}
.firefox-search-bar .search-bar-center {
    color: var(--term-bright-white);
    width: 100%;
}
/* #endregion */

/* #region Home page */
.firefox-home-page {
    /* Main colors */
    background-color: var(--term-primary-background);

    /* Layout */
    padding-top: 5em;
    margin-bottom: 2.75em;

    /* Flex */
    display: flex;
    flex: 1;
    gap: 1em;
    flex-direction: column;
    align-items: stretch;

    /* Border */
    border-radius: var(--window-radius);
}
.firefox-home-page * {
    margin: 0 auto;
}
.home-firefox-logo {
    display: flex;
}
.home-firefox-logo .firefox-icon {
    height: 5em;
}
.home-firefox-logo .firefox-name {
    /* Font */
    font-size: 2.5em;
    font-weight: bold;

    /* Layout */
    margin: auto 0;
}
.home-search-bar {
    /* Main colors */
    color: var(--term-bright-white);
    background-color: var(--term-normal-black);

    /* Layout */
    width: 60%;
    padding: 0.5em;

    /* Border */
    border-radius: var(--window-radius);
}
/* #endregion */
