/* #region Layout */
.client-layout {
    /* Layout (respects gaps) */
    width: calc(100% - 2 * var(--window-gap));
    height: calc(100% - 2 * var(--window-gap));
    margin: var(--window-gap);
    overflow: hidden;

    /* Flex (places columns of clients) */
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: var(--window-gap);
}
.client-column {
    /* Layout (respects gaps) */
    width: 100%;
    height: 100%;
    overflow: hidden;

    /* Flex (places columns of clients) */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    gap: var(--window-gap);
}
.client-column > * {
    /* Layout (occupies as much space as possible) */
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
/* #endregion */


/* #region Client container */
.client {
    /* Layout */
    width: auto;

    /* Background blur */
    backdrop-filter: blur(var(--background-blur));
}
.client-border {
    /* Borders */
    border-radius: var(--window-radius);
    border: var(--border-outside) solid black;
    box-shadow:
        inset
            0px
            calc(2 * var(--border-inside))
            0
            rgba(var(--term-raw-bright-white), 1),
        inset
            calc(2 * var(--border-inside))
            calc(2 * var(--border-inside))
            0
            rgba(var(--term-raw-bright-white), 0.1),
        inset
            calc(-2 * var(--border-inside))
            calc(-2 * var(--border-inside))
            0
            rgba(var(--term-raw-bright-white), 0.1);
}
.client-border::before {
    /* Content */
    content: '';

    /* Layout */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    /* Border */
    border-radius: var(--window-radius);
    border-width: var(--border-inside);
    border-style: solid;
    border-image:
        linear-gradient(
            to bottom,
            rgba(var(--term-raw-bright-white), 0.25) 0%,
            rgba(0, 0, 0, 0) 25%
        ) 1 50%;
}
/* #endregion */


/* #region Title bar */
.client-title-bar {
    padding: 0.1em 0.5em;
    display: flex;
    align-items: stretch;
}
.client-title-bar * {
    display: inline;
    margin: auto;
    vertical-align: middle;
}
.title-bar-left {
    flex: 1;
}
.title-bar-center {
    text-align: center;
}
.title-bar-right {
    flex: 1;
    text-align: right;
}
.client-icon {
    height: 1.25em;
}
.circle {
    border: 2px solid;
    border-radius: 100%;
    height: 0.7em;
    margin-left: 0.25em;
}
.client-button-close {
    border-color: var(--term-normal-red);
}
.client-button-maximize {
    border-color: var(--term-normal-green);
}
.client-button-minimize {
    border-color: var(--term-normal-yellow);
}
.client-button-on-top {
    border-color: var(--term-normal-blue);
}
.client-button-floating {
    border-color: var(--term-normal-magenta);
}
.client-name {
    color: var(--term-primary-foreground);
}
/* #endregion */


/* #region Client contents */
.client-contents {
    height: 100%;
}
.client-contents > * {
    height: 100%;
}
/* #endregion */
