.status-bar {
    margin-top: var(--window-gap);
    padding: 0.1em 0.5em;
    display: flex;
    align-items: stretch;
    margin-left: 5%;
    margin-right: 5%;
}
.status-bar-section {
    display: flex;
    gap: var(--window-gap);
}
.status-bar-section.section-left {
    flex: 1;
}
.status-bar-section.section-center {
    text-align: center;
}
.status-bar-section.section-right {
    flex: 1;
    justify-content: flex-end;
}

.status-bar-section .status-bar-widget {
    background-color: rgba(var(--term-raw-primary-background), var(--term-raw-opacity));
    padding: 0 0.25em;
    color: var(--term-primary-foreground);
}
