/* Main window */
.alacritty-window {
    white-space: pre;
    font-family: 'mononoki', monospace;
    color: var(--term-primary-foreground);
    background-color: rgba(var(--term-raw-primary-background), 0.85);;
}
.alacritty-window * {
    padding: 0;
    margin: 0;
}
.neofetch {
    display: flex;
}
/* Logo */
.neofetch .neofetch-logo {
    font-weight: bold;
    color: var(--term-normal-cyan);
}
/* Status */
.neofetch-status .host-name {
    color: var(--term-normal-blue);
    font-weight: bold;
}
.neofetch-status .separator {
    color: var(--term-bright-black);
}
.neofetch-status .property {
    color: var(--term-normal-cyan);
    font-weight: bold;
}
