/* #region Main window */
.alacritty {
    /* Main colors */
    color: var(--term-primary-foreground);
    background-color: rgba(var(--term-raw-primary-background), var(--term-raw-opacity));

    /* Font */
    font-family: 'mononoki', monospace;

    /* Layout */
    padding: 0.5em;
    white-space: pre;
}
.alacritty * {
    /* Layout */
    margin: 0;
    padding: 0;
}
.neofetch {
    /* Flex */
    display: flex;
}
/* #endregion */


/* #region Logo */
.neofetch .neofetch-logo {
    font-weight: bold;
    color: var(--term-normal-cyan);
}
/* #endregion */


/* #region Status */
.neofetch-status .host-name {
    color: var(--term-normal-blue);
    font-weight: bold;
}
.neofetch-status .separator {
    color: var(--term-bright-black);
}
.neofetch-status .property {
    color: var(--term-normal-cyan);
    font-weight: bold;
}
/* #endregion */
